main {
  padding: 0;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.restaurant-popup h3 {
  font-size: 1.4em;
  margin-bottom: 0.4em;
}

.restaurant-popup ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.restaurant-popup li {
  margin-bottom: 0.4em;
}

.restaurant-popup li:last-child {
  margin-bottom: 0;
}

.search-actions {
  text-align: center;
  background-color: var(--launchtime-purple);
}

.search-actions ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-actions li {
  border-right: solid 1px var(--launchtime-purple);
  border-left: solid 1px var(--launchtime-purple);
}

.search-actions button {
  color: white;
  font-weight: bold;
  background-color: var(--launchtime-cyan);
  border: 0;
  padding: 0.8em 1em;
}

.lightning-button {
  display: inline-block;
  padding: 5px 10px;
  color: white; /* Explicitly setting text color */
  font-weight: bold; /* Making the text bolder */
  background-color: #ffd666; /* Adjust the color as needed */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none; /* Overriding default link styling */
  outline: none; /* Removes the default focus outline */
}

.lightning-button:hover {
  color: #000000; /* Ensuring hover keeps the text white */
  background-color: #ffdd00bd; /* Adjust the hover color as needed */
}

.lightning-button:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5); /* Adds a focus ring for accessibility */
}

.google-maps-button {
  display: inline-block;
  background-color: #aab6c2;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  margin-top: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 45%;
}

.google-maps-button:hover {
  background-color: #cfe2f7;
}

.google-maps-button img {
  vertical-align: middle;
  margin-left: 8px;
  width: 7%;
  height: auto;
}
